.main {
  width: 100vw;

  &>img {
    height: 864px;
    width: 100%!important;
    object-fit: cover;
  }

  >.services {
    display: flex;
    margin: -97px 120px 0;

    .service {
      flex-basis: 33%;
      opacity: 80%;
      background: rgba(117, 117, 117, 0.6);
      padding: 30px 25px 18px 30px;

      &:nth-child(2) {
        background: rgba(0, 0, 0, 0.6);
      }

      h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 53px;
      }

      .content {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 13px;
      }
    }
  }

  >.about {
    margin: 100px 90px 0;
    display: flex;
    gap: 30px;

    >img {
      flex-basis: 50%;
    }

    >div {
      h5 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #757575;
      }

      h4 {
        margin-top: 15px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 61px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #1B1717;
      }

      div {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #6E6E6E;
      }
    }
  }
}
